body {
    background-color: aliceblue;
}

#ToDo, #ToDoList {
    display: flex;
}

#btnCreateList {
    margin-left: 1rem;
}
#btnCreateToDo{
    margin-top: 1rem;
}
h2 {
    text-align: center;
}

#ToDoListCreated {
    text-align: start;
}

table thead {
    background-color: #0a4f70;
    color: white;
}