body {
    background-color: aliceblue;
}

#ToDo, #ToDoList {
    display: flex;
}

#btnCreateList, #btnCreateToDoList {
    margin-left: 1rem;
}

h2 {
    text-align: center;
}

#ToDoListCreated {
    text-align: start;
}

table thead {
    background-color: #0a4f70;
    color: white;
}